<form [formGroup]="techForm" id="technology-form" (ngSubmit)="onSubmit()">
  <h1>Add a technology</h1>
  @if (changeTechnology) {
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput type="text" name="id" id="id" formControlName="id">
    </mat-form-field>
  }
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" name="name" id="name" formControlName="name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option value="">--Please choose a ring--</mat-option>
      @for (icategory of allCategories; track icategory) {
        <mat-option value="{{icategory}}">{{ icategory }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ring</mat-label>
    <mat-select formControlName="ring">
      <mat-option value="">--Please choose a ring--</mat-option>
      @for (iring of allRings; track iring) {
        <mat-option value="{{iring}}">{{ iring }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Technology Description</mat-label>
    <textarea matInput name="techDescription" id="techDescription" formControlName="techDescription"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Classification Description</mat-label>
    <textarea matInput name="classDescription" id="classDescription" formControlName="classDescription"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="">--Please choose a ring--</mat-option>
      @for (status of allStatus; track status) {
        <mat-option value="{{status}}">{{ status }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Creation Date</mat-label>
    <input matInput type="datetime-local" name="creationDate" id="creationDate" formControlName="creationDate">
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!techForm.valid">
    @if (changeTechnology) {
      Save changes
    } @else {
      Add technology
    }</button>
  @if (changeTechnology) {
    <button mat-raised-button type="button" (click)="deleteTechnology()">Delete technology</button>
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
  }
</form>
