/* Styling for the login container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); /* Gradient from purple to blue */

}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

/* Custom button style with gradient background */
.login-button {
  background: linear-gradient(45deg, #FF6F61, #D32F2F); /* Gradient from light coral to dark red */
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
  text-transform: uppercase;
  border: none; /* Remove default border */
  transition: background 0.3s ease; /* Smooth transition for background change */
}

.login-button:disabled {
  background: linear-gradient(45deg, #BDBDBD, #9E9E9E); /* Gray gradient for disabled button */
}

.login-button:hover {
  background: linear-gradient(45deg, #F44336, #D32F2F); /* Darker gradient on hover */
}
