<div class="login-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="username" class="form-control" id="username" name="username" required type="text"/>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="password" class="form-control" id="password" name="password" required type="password"/>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>
