<div class="login-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="username" matInput required type="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput required type="password"/>
    </mat-form-field>

    <button [disabled]="loginForm.invalid" color="primary" mat-raised-button type="submit">
      Login
    </button>
  </form>
</div>
